[run]
branch = True
omit =
    */tests/*
    problems/linked_list_cycle.py
    problems/tree_height_of_a_binary_tree.py
    problems/tree_top_view.py

[report]
exclude_lines =
    if __name__ == '__main__':
    pragma: no cover
    __repr__
    __str__
    \.\.\.
